<%= render :partial => "/home/navbar" %>

<div class="container">
    <div class="row">
        <div class="col s12 m6 l6 offset-m3 offset-l3">
            <div class="card white" style="margin-top:150px; margin-bottom:150px">
                <div class="container">
                  <div class = "cart-content">
                    <div class = "section">
                    <span class = "card-title" style="font-weight:bold">비밀번호 바꾸기</span><br />
                    <blockquote>
                      현재 비밀번호와 바꾸실 비밀번호를 입력해주세요!</br>
                    </blockquote>
                    <form action="/review/edit_password_path/<%= @one_user.id %>" method="POST">

                        <input type="password" name="password" class="form-control" id="password" placeholder="현재 비밀번호를 입력해주세요." required>
                        <input type="password" name="edit_password" class="form-control" id="edit_password" placeholder="새로운 비밀번호를 입력해주세요." required>
                        <input type="password" name="confirmation_edit_password" class="form-control" id="confirmation_edit_password" placeholder="새로운 비밀번호를 한번 더 입력해주세요." required>

                        <div class="center-align">
                            <a href="/home/main" class="btn btn-default">취소하기</a>
                            <input class="amber accent-3 btn btn-default" type="submit" value="변경하기">
                        </div>

                    </form>
                  </div>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>
<%= render :partial => "/home/footer" %>
