<%= render :partial => "/home/navbar" %>
<div class = "container">
  <div class = "row">
    <div class="col s12 m12 l12">
      <ul class="tabs">
        <li class="tab col s3"><a target = "_self" href="/admin/admin_main">회원 관리</a></li>
        <li class="tab col s3"><a class="active" target = "_self" href="">리뷰 관리</a></li>
        <li class="tab col s3"><a target = "_self" href="/admin/admin_board">글 관리</a></li>
        <li class="tab col s3"><a target = "_self" href="/admin/admin_reply">댓글 관리</a></li>
      </ul>
    </div>
  </div>
</div>
