<% comments.each do |c| %>
  <div class="container">
    <div class="card-panel" style="padding:10px">
      <h5><%= c.comment %></h5>
      <h6><%= c.user.email %></h6>
    </div>
  </div>
<% end %>
