  <footer class="page-footer teal">
    <div class="container">
      <div class="row">
        <div class="col">
          <h5 class="white-text">Roomeview?</h5>
          <p class="grey-text text-lighten-4">루미뷰는 방에 거주했던 경험을 토대로 작성된 리뷰를 공유하는 플랫폼 입니다.</p>
          <a href = "#modal_term" class = "modal-trigger blue-text text-lighten-4">이용약관</a>


        </div>
        <div class="col">
          <h5 class="white-text">Contact</h5>
          <ul>
            <li><a class="white-text" href="#!">E-mail</a></li>
            <li><a class="white-text" href="#!">Facebook Page</a></li>
            <!--<li><a class="white-text" href="#!">Link 3</a></li>-->
            <!--<li><a class="white-text" href="#!">Link 4</a></li>-->
          </ul>
        </div>
        <!--<div class="col l3 s12">-->
        <!--  <h5 class="white-text">Connect</h5>-->
        <!--  <ul>-->
        <!--    <li><a class="white-text" href="#!">Link 1</a></li>-->
        <!--    <li><a class="white-text" href="#!">Link 2</a></li>-->
        <!--    <li><a class="white-text" href="#!">Link 3</a></li>-->
        <!--    <li><a class="white-text" href="#!">Link 4</a></li>-->
        <!--  </ul>-->
        <!--</div>-->
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      Made by <a class="brown-text text-lighten-5">Roomeview</a>
      </div>
    </div>
  </footer>

  <!-- Modal Structure -->
<div id="modal_term" class="modal modal-fixed-footer">
  <div class="modal-content">
    <h4>루미뷰(Roomeview) 이용약관</h4>
    <pre><%= render :file => '/home/term.txt' %></pre>
  </div>
  <div class="modal-footer">
    <a class="modal-action modal-close btn-flat">닫기</a>
  </div>
</div>
