
 <nav class="transparent z-depth-0" role="navigation">
    <div class="nav-wrapper container">
      <a id="logo-container" href="/review/list" class="brand-logo"><span class = "teal-text text-lighten-1">Room</span><span class = "black-text">eview</span></a>
      <a href="#" data-activates="nav-mobile" class="button-collapse grey-text"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">

        <% if session[:user_id].nil? %>
          <li><a href="/user/login" class="black-text">로그인</a></li>
        <% else %>
          <li><a href="/review/create" class="black-text">리뷰쓰기</a></li>
          <li><a href="/review/list" class="black-text">리뷰보기</a></li>
          <li><a href="/review/mypage" class="black-text">내정보</a></li>
          <li><a href="/user/logout" class="black-text">로그아웃</a></li>
        <% end %>
          <!-- <li><a href="/home/create_a">create</a></li>
          <li><a href="/home/list_find">list</a></li> -->


      </ul>

      <ul id="nav-mobile" class="side-nav">
        <% if session[:user_id].nil? %>
          <li><a href="/user/login" class="black-text">로그인</a></li>
        <% else %>
          <li><a href="/user/logout" class="black-text">로그아웃</a></li>
        <% end %>
          <!-- <li><a href="/home/create_a">create</a></li>
          <li><a href="/home/list_find">list</a></li> -->
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">메뉴</i></a>
    </div>
  </nav>


<script>
$(".button-collapse").sideNav();
</script>
