
 <nav class="white" role="navigation">
    <div class="nav-wrapper container">
      <a id="logo-container" href="/home/index" class="brand-logo"><span class = "teal-text text-lighten-1">Room</span><span class = "black-text">eview</span></a>
      <ul class="right hide-on-med-and-down">

        <% if user_signed_in? %>
          <li><a href="/home/create_a" class="black-text">리뷰쓰기</a></li>
          <li><a href="/home/list_find" class="black-text">리뷰보기</a></li>
          <li><a href="/home/mypage" class="black-text">내정보</a></li>
          <li><a href="/users/sign_out" class="black-text">로그아웃</a></li>
        <% else %>
          <li><a href="/users/sign_in" class="black-text">Login</a></li>
        <% end %>
          <!-- <li><a href="/home/create_a">create</a></li>
          <li><a href="/home/list_find">list</a></li> -->


      </ul>

      <ul id="nav-mobile" class="side-nav">
        <% if user_signed_in? %>
          <li><a href="/users/sign_out" class="black-text">Logout</a></li>
        <% else %>
          <li><a href="/users/sign_in" class="black-text">Login</a></li>
        <% end %>
          <!-- <li><a href="/home/create_a">create</a></li>
          <li><a href="/home/list_find">list</a></li> -->
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>
