<%= render :partial => "/home/navbar" %>

<div class="content-section-a">
	<div class="container" style="margin-top: 40px">
		<form action="/home/list_path_b" method="POST" enctype="multipart/form-data">
		  
		  <!--이거 넣어주세요~ -->
          <% @create_a.each do |p| %>
          <input type="hidden" name="address_id" value="<%= p.id %>">
          <% end %>
          <!--끝-->
          
			<div class="row">
				<div class="col s12 m12 l12 ">
				  
					<div class="card">
						<div class="card-image">
							<nav>
							<div class="nav-wrapper cyan darken-4">
								<div class="col s12">
									<a class="breadcrumb" onclick="go_to_home()">1단계</a>
									<a href="#!" class="breadcrumb">2단계</a>
								</div>
							</div>
							</nav>
						</div>
						<div class="card-content">
							<div class="row">
								<div class="col s12 m12 l12">
							
							
									<div class="card blue-grey lighten-5">
										<div class="card-content black-text text-lighten-4">
											<span class="card-title"><h4>기본 계약 정보</h4></span>
											<div class="divider"></div>
											<span class="card-title"><h5>보증금/월세</h5></span>
											<blockquote>
												계약하고 지불하신 보증금과 월세를 입력해주세요.(단위 : 만원)
											</blockquote>
											<div class = "row">
												<div class = "container">
													<div class = "input-field col s6 m6 l6">
														<input id= "price" type="text">
														<label for ="price">보증금</label>
													</div>
													<div class = "input-field col s6 m6 l6">
														<input id= "month" type="text">
														<label for ="month">월세</label>
													</div>
												</div>
											</div>
										</div>
										<div class="divider"></div>
										<div class="card-content">
											<span class="card-title"><h5>거주 기간</h5></span>
											<blockquote>
												 해당 원룸에서 거주했던 기간을 입력해주세요.
											</blockquote>
											<div class = "container">
												<div class = "row">
													<div class = "col s6 m6 l6">
														<label for ="start_date"><h6>입주일</h6></label>
														<input id= "start_date" type="date" class="datepicker center-align">
													</div>
													<div class = "col s6 m6 l6">
														<label for ="start_date"><h6>퇴거일</h6></label>
														<input id= "start_date" type="date" class="datepicker center-align">
													</div>
												</div>
											</div>
										</div>
										<div class="card-action">
											<span class="card-title">
											<h5>공과금/관리비</h5>
											</span>
											<blockquote>
												 공과금들이 관리비에 포함 되어있나요?
											</blockquote>
											<!--라디오박스-->
											<p>
												<input class="with-gap" name="fee" type="radio" id="fee1" value="1"/>
												<label class="teal-text text-darken-3" for="fee1">포함</label>
											</p>
											<p>
												<input class="with-gap" name="fee" type="radio" id="fee0" checked value="0"/>
												<label class="teal-text text-darken-3" for="fee0">미포함</label>
											</p>
										</div>
										<div class="card-action">
											<span class="card-title">
											<h5>추가 내용</h5>
											</span>
											<blockquote>
												 계약관련하여 추가적으로 남기실 내용을 입력해주세요.
											</blockquote>
											<div class = "container">
												<div class="row">
										          <div class="input-field col s12 m12 l12">
										            <textarea  name = "comment"id="comment" class="materialize-textarea" length="200"></textarea>
										            <label for="comment">추가내용</label>
										          </div>
										        </div>
									        </div>
								        </div>
									        
								        <div class="card-action">
							        		<span class="card-title">
											<h5>사진</h5>
											</span>
											<blockquote>
												 방의 사진을 올려주세요
											</blockquote>
											
											<div class = "container">
											    <div class="file-field input-field">
											      <div class="btn">
											        <span>파일</span>
											        <input type="file" name="image1" accept="image/*">
											      </div>
											      <div class="file-path-wrapper">
											        <input class="file-path validate" type="text">
											      </div>
											    </div>
										    
											    <div class="file-field input-field">
											      <div class="btn">
											        <span>파일</span>
											        <input type="file" name="image2" accept="image/*">
											      </div>
											      <div class="file-path-wrapper">
											        <input class="file-path validate" type="text">
											      </div>
											    </div>
										    
											    <div class="file-field input-field">
											      <div class="btn">
											        <span>파일</span>
											        <input type="file" name="image3" accept="image/*">
											      </div>
											      <div class="file-path-wrapper">
											        <input class="file-path validate" type="text">
											      </div>
											    </div>
										    
												<div class="file-field input-field">
											      <div class="btn">
											        <span>파일</span>
											        <input type="file" name="image4" accept="image/*">
											      </div>
											      <div class="file-path-wrapper">
											        <input class="file-path validate" type="text">
											      </div>
											    </div>
										    </div>
											<!--<input type="file" name="image1" accept="image/*"><br>-->
											<!--<input type="file" name="image2" accept="image/*"><br>-->
											<!--<input type="file" name="image3" accept="image/*"><br>-->
											<!--<input type="file" name="image4" accept="image/*">-->
										</div>
									</div>
									
									
									
									<div class="card blue-grey lighten-5">
										<div class="card-content black-text text-lighten-4">
											<span class="card-title">
											<h4>계약</h4>
											</span>
											<div class="divider">
											</div>
											
										</div>
										
										<div class="card-action">
											<span class="card-title">
											<h5>조리시설지수</h5>
											</span>
											<blockquote>
												 조리시설(레인지, 냉장고 등)에 대한 점수를 선택해주세요.
											</blockquote>
											<!--라디오박스-->
											<div class="row">
												<blockquote>
												 냉방/난방에 대한 점수를 선택해주세요.
												</blockquote>
												<div class="col m3">
												<p>
													<input class="with-gap" name="gas" type="radio" id="gas" value="1"/>
													<label class="teal-text text-darken-3" for="gas">있음</label>
												</p>
												</div>
												<div class="col m3">
												<p>
													<input class="with-gap" name="cook" type="radio" id="gas1" value="0"/>
													<label class="teal-text text-darken-3" for="gas1">없음</label></label>
												</p>
												</div>
											</div>
											<div class="row">
												<blockquote>
												 냉방/난방에 대한 점수를 선택해주세요.
											</blockquote>
												<div class="col m3">
												<p>
													<input class="with-gap" name="micro" type="radio" id="micro" value="1"/>
													<label class="teal-text text-darken-3" for="cook5">있음</label>
												</p>
												</div>
												<div class="col m3">
												<p>
													<input class="with-gap" name="micro" type="radio" id="micro1" value="0"/>
													<label class="teal-text text-darken-3" for="cook4">없음</label></label>
												</p>
												</div>
											</div>
											
										</div>
										<div class="card-action">
											<span class="card-title">
											<h5>냉방/난방지수</h5>
											</span>
											<blockquote>
												 냉방/난방에 대한 점수를 선택해주세요.
											</blockquote>
											<!--라디오박스-->
											<p>
												<input class="with-gap" name="warm" type="radio" id="warm5" checked value="5"/>
												<label class="teal-text text-darken-3" for="warm5">아주 좋아요</label>
											</p>
											<p>
												<input class="with-gap" name="warm" type="radio" id="warm4" value="4"/>
												<label class="teal-text text-darken-3" for="warm4">좋아요</label>
											</p>
											<p>
												<input class="with-gap" name="warm" type="radio" id="warm3" value="3"/>
												<label class="teal-text text-darken-3" for="warm3">쓸만해요</label>
											</p>
											<p>
												<input class="with-gap" name="warm" type="radio" id="warm2" value="2"/>
												<label class="teal-text text-darken-3" for="warm2">안좋아요</label>
											</p>
											<p>
												<input class="with-gap" name="warm" type="radio" id="warm1" value="1"/>
												<label class="teal-text text-darken-3" for="warm1">아주 안좋아요</label>
											</p>
										</div>
										
										<div class="card-action">
											<span class="card-title">
											<h5>수도시설지수</h5>
											</span>
											<blockquote>
												 수도시설(씽크, 화장실 등)에 대한 점수를 선택해주세요.
											</blockquote>
											<!--라디오박스-->
											<p>
												<input class="with-gap" name="water" type="radio" id="water5" checked value="5"/>
												<label class="teal-text text-darken-3" for="water5">아주 좋아요</label>
											</p>
											<p>
												<input class="with-gap" name="water" type="radio" id="water4" value="4"/>
												<label class="teal-text text-darken-3" for="water4">좋아요</label>
											</p>
											<p>
												<input class="with-gap" name="water" type="radio" id="water3" value="3"/>
												<label class="teal-text text-darken-3" for="water3">쓸만해요</label>
											</p>
											<p>
												<input class="with-gap" name="water" type="radio" id="water2" value="2"/>
												<label class="teal-text text-darken-3" for="water2">안좋아요</label>
											</p>
											<p>
												<input class="with-gap" name="water" type="radio" id="water1" value="1"/>
												<label class="teal-text text-darken-3" for="water1">아주 안좋아요</label>
											</p>
										</div>
										<div class="card-action">
											<span class="card-title">
											<h5>채광 / 환기 지수</h5>
											</span>
											<blockquote>
												 채광/환기에 대한 점수를 선택해주세요.
											</blockquote>
											<!--라디오박스-->
											<p>
												<input class="with-gap" name="light" type="radio" id="light5" checked  value="5"/>
												<label class="teal-text text-darken-3" for="light5">아주 좋아요</label>
											</p>
											<p>
												<input class="with-gap" name="light" type="radio" id="light4" value="4"/>
												<label class="teal-text text-darken-3" for="light4">좋아요</label>
											</p>
											<p>
												<input class="with-gap" name="light" type="radio" id="light3" value="3"/>
												<label class="teal-text text-darken-3" for="light3">쓸만해요</label>
											</p>
											<p>
												<input class="with-gap" name="light" type="radio" id="light2" value="2"/>
												<label class="teal-text text-darken-3" for="light2">안좋아요</label>
											</p>
											<p>
												<input class="with-gap" name="light" type="radio" id="light1" value="1"/>
												<label class="teal-text text-darken-3" for="light1">아주 안좋아요</label>
											</p>
										</div>
										<div class="card-action">
											<span class="card-title">
											<h5>가구 지수</h5>
											</span>
											<blockquote>
												 설치된 가구에 대한 점수를 선택해주세요.
											</blockquote>
											<!--라디오박스-->
											<p>
												<input class="with-gap" name="furniture" type="radio" id="furniture5" checked  value="5"/>
												<label class="teal-text text-darken-3" for="furniture5">아주 좋아요</label>
											</p>
											<p>
												<input class="with-gap" name="furniture" type="radio" id="furniture4" value="4"/>
												<label class="teal-text text-darken-3" for="furniture4">좋아요</label>
											</p>
											<p>
												<input class="with-gap" name="furniture" type="radio" id="furniture3" value="3"/>
												<label class="teal-text text-darken-3" for="furniture3">쓸만해요</label>
											</p>
											<p>
												<input class="with-gap" name="furniture" type="radio" id="furniture2" value="2"/>
												<label class="teal-text text-darken-3" for="furniture2">안좋아요</label>
											</p>
											<p>
												<input class="with-gap" name="furniture" type="radio" id="furniture1" value="1"/>
												<label class="teal-text text-darken-3" for="furniture1">아주 안좋아요</label>
											</p>
										</div>
										<div class="card-action">
											<span class="card-title">
											<h5>방충 지수</h5>
											</span>
											<blockquote>
												 방충에 대한 점수를 선택해주세요.
											</blockquote>
											<!--라디오박스-->
											<p>
												<input class="with-gap" name="bug" type="radio" id="bug5" checked  value="5"/>
												<label class="teal-text text-darken-3" for="bug5">아주 좋아요</label>
											</p>
											<p>
												<input class="with-gap" name="bug" type="radio" id="bug4" value="4"/>
												<label class="teal-text text-darken-3" for="bug4">좋아요</label>
											</p>
											<p>
												<input class="with-gap" name="bug" type="radio" id="bug3" value="3"/>
												<label class="teal-text text-darken-3" for="bug3">쓸만해요</label>
											</p>
											<p>
												<input class="with-gap" name="bug" type="radio" id="bug2" value="2"/>
												<label class="teal-text text-darken-3" for="bug2">안좋아요</label>
											</p>
											<p>
												<input class="with-gap" name="bug" type="radio" id="bug1" value="1"/>
												<label class="teal-text text-darken-3" for="bug1">아주 안좋아요</label>
											</p>
										</div>
										<div class="card-action">
											<blockquote>
												 추가적으로 기록하실 경험이 있으시면 기록해주세요.
											</blockquote>
											<div class="row">
												<div class="input-field col s12 m12 l12">
													<textarea id="text_1"name="detail_ex" class="materialize-textarea"></textarea>
													<label for="text_1">추가내용</label>
												</div>
											</div>
										</div>
									</div>
									
									 <!----------------------카드 구분선----------------------->
									 
									<div class="card blue-grey lighten-5">
										<div class="card-content black-text text-lighten-4">
											<span class="card-title"><h4>환경</h4></span>
											<div class="divider"></div>
											<span class="card-title"><h5>소음지수</h5></span>
											<blockquote>
												 소음에 대한 정보(층간,방간, 외부)에 대해서 입력 해주세요.
											</blockquote>
											<p>
												<input class="with-gap" name="noise" type="radio" id="noise5" checked  value="5"/>
												<label class="teal-text text-darken-3" for="noise5">아주 좋아요</label>
											</p>
											<p>
												<input class="with-gap" name="noise" type="radio" id="noise4" value="4"/>
												<label class="teal-text text-darken-3" for="noise4">좋아요</label>
											</p>
											<p>
												<input class="with-gap" name="noise" type="radio" id="noise3" value="3"/>
												<label class="teal-text text-darken-3" for="noise3">쓸만해요</label>
											</p>
											<p>
												<input class="with-gap" name="noise" type="radio" id="noise2" value="2"/>
												<label class="teal-text text-darken-3" for="noise2">안좋아요</label>
											</p>
											<p>
												<input class="with-gap" name="noise" type="radio" id="noise1" value="1"/>
												<label class="teal-text text-darken-3" for="noise1">아주 안좋아요</label>
											</p>
										</div>
										<div class="card-action">
											<span class="card-title">
											<h5>교통 지수</h5>
											</span>
											<blockquote>
												 교통에 대한 점수를 선택해주세요.
											</blockquote>
											<!--라디오박스-->
											<p>
												<input class="with-gap" name="traffic" type="radio" id="traffic5" checked  value="5"/>
												<label class="teal-text text-darken-3" for="traffic5">아주 좋아요</label>
											</p>
											<p>
												<input class="with-gap" name="traffic" type="radio" id="traffic4" value="4"/>
												<label class="teal-text text-darken-3" for="traffic4">좋아요</label>
											</p>
											<p>
												<input class="with-gap" name="traffic" type="radio" id="traffic3" value="3"/>
												<label class="teal-text text-darken-3" for="traffic3">쓸만해요</label>
											</p>
											<p>
												<input class="with-gap" name="traffic" type="radio" id="traffic2" value="2"/>
												<label class="teal-text text-darken-3" for="traffic2">안좋아요</label>
											</p>
											<p>
												<input class="with-gap" name="traffic" type="radio" id="traffic1" value="1"/>
												<label class="teal-text text-darken-3" for="traffic1">아주 안좋아요</label>
											</p>
										</div>
										<div class="card-action">
											<span class="card-title">
											<h5>편의시설지수</h5>
											</span>
											<blockquote>
												 건물주변 편의시설에 대한 점수를 선택해주세요.
											</blockquote>
											<!--라디오박스-->
											<p>
												<input class="with-gap" name="convin" type="radio" id="convin5" checked  value="5"/>
												<label class="teal-text text-darken-3" for="convin5">아주 좋아요</label>
											</p>
											<p>
												<input class="with-gap" name="convin" type="radio" id="convin4" value="4"/>
												<label class="teal-text text-darken-3" for="convin4">좋아요</label>
											</p>
											<p>
												<input class="with-gap" name="convin" type="radio" id="convin3" value="3"/>
												<label class="teal-text text-darken-3" for="convin3">쓸만해요</label>
											</p>
											<p>
												<input class="with-gap" name="convin" type="radio" id="convin2" value="2"/>
												<label class="teal-text text-darken-3" for="convin2">안좋아요</label>
											</p>
											<p>
												<input class="with-gap" name="convin" type="radio" id="convin1" value="1"/>
												<label class="teal-text text-darken-3" for="convin1">아주 안좋아요</label>
											</p>
										</div>
										<div class="card-action">
											<span class="card-title">
											<h5>건물 위생 지수</h5>
											</span>
											<blockquote>
												 건물의 위생에 대한 점수를 선택해주세요.
											</blockquote>
											<!--라디오박스-->
											<p>
												<input class="with-gap" name="hygiene" type="radio" id="hygiene5" checked  value="5"/>
												<label class="teal-text text-darken-3" for="hygiene5">아주 좋아요</label>
											</p>
											<p>
												<input class="with-gap" name="hygiene" type="radio" id="hygiene4" value="4"/>
												<label class="teal-text text-darken-3" for="hygiene4">좋아요</label>
											</p>
											<p>
												<input class="with-gap" name="hygiene" type="radio" id="hygiene3" value="3"/>
												<label class="teal-text text-darken-3" for="hygiene3">쓸만해요</label>
											</p>
											<p>
												<input class="with-gap" name="hygiene" type="radio" id="hygiene2" value="2"/>
												<label class="teal-text text-darken-3" for="hygiene2">안좋아요</label>
											</p>
											<p>
												<input class="with-gap" name="hygiene" type="radio" id="hygiene1" value="1"/>
												<label class="teal-text text-darken-3" for="hygiene1">아주 안좋아요</label>
											</p>
										</div>
										<div class="card-action">
											<span class="card-title">
											<h5>반려동물 동거 가능 여부</h5>
											</span>
											<blockquote>
												 방에서 반려동물과 함께 지낼 수 있나요?
											</blockquote>
											<!--라디오박스-->
										<p>
											<input type="checkbox" id="pet" name="pet"  value ="1"/>
											<label for="pet">가능</label>
										</p>
										</div>
										<div class="card-action">
											<blockquote>
												 추가적으로 기록하실 경험이 있으시면 기록해주세요.
											</blockquote>
											<div class="row">
												<div class="input-field col s12 m12 l12">
													<textarea id="text_2" name="detail_ex2"class="materialize-textarea"></textarea>
													<label for="text_2">추가내용</label>
												</div>
											</div>
										</div>
									</div>
									
									 <!----------------------카드 구분선----------------------->
									 
									 
									
								
									 <!----------------------카드 구분선----------------------->
									
								</div>
							</div>
							<div class ="center-align">
  							<a href="/home/create_a" class="btn btn-default">취소하기</a>
  							<input class="btn btn-default" type="submit" value="완료하기">
							</div>
						</div>
					</div>
					
					
				</div>
			</div>
		</form>
	</div>

</div>

<%= render :partial => "/home/footer" %>

<script>
  $('.datepicker').pickadate({
	monthsFull: ['Janvier', 'Février', 'Mars', 'Avril', 'Mai', 'Juin', 'Juillet', 'Août', 'Septembre', 'Octobre', 'Novembre', 'Décembre'],
	weekdaysShort: ['Dim', 'Lun', 'Mar', 'Mer', 'Jeu', 'Ven', 'Sam'],
	today: 'aujourd\'hui',
	clear: 'effacer',
	formatSubmit: 'yyyy/mm/dd'
	selectMonths: true, // Creates a dropdown to control month
	selectYears: 15 // Creates a dropdown of 15 years to control year
	// An integer (positive/negative) sets it relative to today.
	min: -15,
	// `true` sets it to today. `false` removes any limits.
	max: true
  });
        

</script>