<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <table>
      <tr>
        <td>
          <%= @receiver %>님, Roomeview.net에 어서오세요.
        </td>
      </tr>
    </table>

    <table>
      <tr>
        <td>
          Roomeview.net를 이용해주셔서 감사합니다.
        </td>
      </tr>
      <tr>
        <td>
          서비스를 이용하기 위해서 아래 링크를 클릭해주세요.
        </td>
      </tr>
      <tr>
        <td>
          <a href="<%= @url %>">인증하러가기</a>
        </td>
      </tr>
    </table>
  </body>
</html>
