<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    <style type="text/css">
    .myButton {
    	background-color:#00bfa6;
    	display:inline-block;
    	cursor:pointer;
    	color:#ffffff;
    	font-family:Arial;
    	font-size:17px;
    	font-weight:bold;
    	padding:16px 50px;
    	text-decoration:none;
    	text-shadow:0px 1px 0px #2f6627;
    }
    .myButton:hover {
    	background-color:#5cbf2a;
    }
    .myButton:active {
    	position:relative;
    	top:1px;
    }

    </style>
  </head>
  
  <body>
    <table>
      <tr>
        <td>
          <%= @receiver %>님, Roomeview.net에 어서오세요.
        </td>
      </tr>
    </table>

    <table>
      <tr>
        <td>
          Roomeview.net를 이용해주셔서 감사합니다.
        </td>
      </tr>
      <tr>
        <td>
          서비스를 이용하기 위해서 아래 링크를 클릭해주세요.
        </td>
      </tr>
      <tr>
        <td>
          <a >인증하기</a>
          <a href="<%= @url %>" class="myButton">인증하기</a>
        </td>
      </tr>
    </table>
  </body>
</html>
