<%= render :partial => "/home/navbar" %>

<div class="container">
    <div class="row"></div>
    <div class="row">
        <div class="col s12 m4 l4 offset-m4 offset-l4">
            <div class="card white hover" style="margin-top:150px; margin-bottom:150px">
                <div class="container">
                    <div class="cart-content">
                        <div class="section">
                            <span class="card-title" style="font-weight:bold">로그인이 안되시나요?</span>
                        </div>
                        <div class="section">
                            <p>아래 사항을 한번 확인해보세요!</p>
                            <p>첫번째, 회원가입을 안하셨어요!</p>
                            <p>두번째, 이메일에 오타가 있어요!</p>
                        </div>
                    </div>
                    <div class="card-action">
                        <div class="center-align">
                            <a href="/user/login" class="btn btn-default">돌아가기</a>
                            <a href="/user/join" class="amber accent-3 btn btn-default">회원가입</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<%= render :partial => "/home/footer" %>
