<%= render :partial => "/home/navbar" %>

<form action="/user/login_path" method="POST">
    
    <input type="email" name="email" class="form-control" id="total_address" placeholder="이메일을 입력해주세요." required>
    
    <div class="center-align">
        <a href="/home/main" class="btn btn-default">취소하기</a>
        <input class="btn btn-default" type="submit" value="로그인하기">
    </div>
    
</form>

<span class="center"><a href="/user/join" class="btn amber black-text" style="font-size:1.3rem">회원가입</a></span>

<%= render :partial => "/home/footer" %>